:root{
    --CorFundo: #052159;
    --CorHeader: #3e0fa6;
    --CorLinhas: #0f41a6;
    --CorChoosen: #0521596e;
    --CorBorder: #3a3a7a;
}

*{
    color: white;
}

#azul{
    font-size: 24px;
    background-color: var(--CorChoosen);
}